Repository nginx/nginx-ingress-helm-operator, pull requests merged in 2023-05, with the labels that each got.

#102 Update NGINX Ingress Controller to 3.1.1
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/nginx-ingress-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/samples/charts_v1alpha1_nginxingress.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  docs/nginx-ingress-controller.md
  examples/deployment-oss-min/nginx-ingress-controller.yaml
  examples/deployment-plus-min/nginx-ingress-controller.yaml
  helm-charts/nginx-ingress/Chart.yaml
  helm-charts/nginx-ingress/README.md
  helm-charts/nginx-ingress/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  helm-charts/nginx-ingress/crds/externaldns.nginx.org_dnsendpoints.yaml
  helm-charts/nginx-ingress/crds/k8s.nginx.org_globalconfigurations.yaml
  helm-charts/nginx-ingress/crds/k8s.nginx.org_policies.yaml
  helm-charts/nginx-ingress/crds/k8s.nginx.org_transportservers.yaml
  helm-charts/nginx-ingress/crds/k8s.nginx.org_virtualserverroutes.yaml
  helm-charts/nginx-ingress/crds/k8s.nginx.org_virtualservers.yaml
  helm-charts/nginx-ingress/templates/controller-daemonset.yaml
  helm-charts/nginx-ingress/templates/controller-deployment.yaml
  helm-charts/nginx-ingress/templates/controller-globalconfiguration.yaml
  helm-charts/nginx-ingress/templates/controller-hpa.yaml
  helm-charts/nginx-ingress/templates/controller-leader-election-configmap.yaml
  helm-charts/nginx-ingress/templates/controller-service.yaml
  helm-charts/nginx-ingress/templates/rbac.yaml
  helm-charts/nginx-ingress/values-icp.yaml
  helm-charts/nginx-ingress/values-plus.yaml
  helm-charts/nginx-ingress/values.yaml
Labels: documentation, chore

#105 Create scorecard.yml
  .github/workflows/notifications.yml
  .github/workflows/scorecard.yml
  README.md
Labels: documentation, chore

#109 Fix CI workflow permissions
  .github/workflows/ci.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/labeler.yml
  .github/workflows/notifications.yml
  .github/workflows/stale.yml
Labels: chore

#103 Bump OpenShift to v4.9
  Makefile
  bundle.Dockerfile
  bundle/manifests/nginx-ingress-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Labels: chore

#106 Release 1.4.1
  CHANGELOG.md
  Makefile
  README.md
  bundle/manifests/nginx-ingress-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/nginx-ingress-operator.clusterserviceversion.yaml
  docs/manual-installation.md
  docs/openshift-installation.md
Labels: documentation

#112 Fix ClusterRole name
  helm-charts/nginx-ingress/templates/rbac.yaml
Labels: bug

#110 Switch to quay.io
  bundle/manifests/nginx-ingress-operator.clusterserviceversion.yaml
  config/manifests/bases/nginx-ingress-operator.clusterserviceversion.yaml
  hack/get_image_info.sh
Labels: chore

#95 Add example SCC for daemonset
  docs/manual-installation.md
  docs/openshift-installation.md
  resources/scc-daemonset.yaml
Labels: documentation

#115 Release 1.4.2
  CHANGELOG.md
  Makefile
  README.md
  bundle/manifests/nginx-ingress-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/nginx-ingress-operator.clusterserviceversion.yaml
  docs/manual-installation.md
  docs/openshift-installation.md
Labels: documentation
